body,
html {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    /*color: rgba(0,0,0,0.75);*/
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    width: 100%;
    min-height: 50px;
    height: 80px;
    min-height: 80px;
    /*background-color: #053740;*/
    background-color: rgba(250, 250, 250, 0.95);
    z-index: 99;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .2);
}

nav .nav_logo_container {
    margin: 0 20px;
    display: flex;
}

nav .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav_logo {
    margin: 0 10px;
    background-image: url('./../img/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80px;
    width: 80px;
}

nav .logo_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav .logo_text p {
    font-size: 20px;
}

nav .nav_logo a {
    /*color: white;*/
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none
}


/*nav .nav_logo a i{
	color: #25bad0;
	margin: 0 5px;
}*/

nav .nav_list {
    width: 55%;
    margin: 0 30px;
    max-width: 600px;
}

nav .menu_list {
    display: none
}

nav .nav_list ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .nav_list ul li {
    list-style: none;
}

nav .nav_list ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

.burger {
    display: none;
    cursor: pointer;
    margin: 0 30px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: gray;
    margin: 5px;
}

.card_container {
    height: 100vh;
    min-height: 600px;
    background-color: #fafafa;
}

.ins_icon {
    position: relative;
    height: 33px;
    width: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*.ins_pic{
	position: absolute;
	height: 31px;
	width: 31px;
	cursor: pointer;
	background-image: url('./../img/Ins_icon.png');
	background-position: center;
	background-size: cover;
	top: 0;
	left: -1px;
	display: none
}*/


/*.ins_icon_inner_container{
	height: 31px;
	width: 31px;
}*/

.ins_icon i {
    position: absolute;
    left: 2px;
    width: 31px;
    height: 31px;
}

.ins_icon_black {
    background-image: url('./../img/instagram.png');
    background-size: cover;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}


/*.ins_icon_black:hover{
	display: none;
}*/


/*.ins_icon:hover{
	color: #fff;
	background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
	border-radius: 7px;
}
*/


/*card1*/

.card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
}

.logo_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;
}

.logo {
    background-image: url('./../img/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 350px;
    width: 350px;
    margin-top: 100px;
    /*	animation-name: floatingLogo ;
  	animation-duration: 2s ;
  	animation-direction: alternate;
  	animation-iteration-count: infinite;*/
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 30px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.logo_text_container {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo_text {
    /*color: white;*/
    font-size: 2rem;
    pointer-events: none;
    /*text-align: center;*/
}


/*card2*/

.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_title_container {
    text-align: center;
    width: 100%;
    height: 70px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.honor_title_text {
    width: 320px;
    height: 70px;
    position: relative;
}

.medal_img {
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url(./../img/medal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 5px;
}

.medal1 {
    left: -45px;
    transform: rotateY(180deg) rotate(25deg);
}

.medal2 {
    right: -45px;
    transform: rotate(25deg);
}

.card2_main_container {
    margin: 0 5%;
    width: 100%
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*margin: 0 5%;*/
}

.container .card {
    position: relative;
    height: 400px;
    background-color: #fff;
    display: flex;
    width: 28%;
    margin: 30px 0;
    border-radius: 30px;
    /*border: 5px solid gray*/
}

.imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #02b0f1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    border-radius: 24px;
}

.card:hover {
    transition: 0.5s ease-in-out;
    /*border: 5px solid gray*/
    background-color: #b8e1f7
}

.card:hover .imgBx {
    width: 150px;
    height: 150px;
    left: calc(50% - 75px);
    top: -60px;
    transition: 0.5s ease-in-out;
    background-color: #ff0057;
}


/*.card:nth-child(1):hover .imgBx:before{
	bottom: 50px;
}*/

.card .imgBx:before {
    content: attr(data-text);
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: rgba(255, 255, 255, .25);
    font-weight: bold;
    z-index: -99;
}


/*.card:nth-child(3) .imgBx:before{
	bottom: 40px;
}*/

.card .imgBx img {
    max-width: 100px;
    transition: 0.5s ease-in-out;
}

.card:hover .imgBx img {
    max-width: 75px;
}

.content {
    position: absolute;
    right: 0;
    /*width: calc(100% - 75px);*/
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

.content a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    text-decoration: none;
    color: #fff
}

.card .content div {
    width: 100%;
}

@media (max-width: 960px) {
    .main_card {
        height: unset;
    }
    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .container .card {
        width: 400px;
        margin: 60px 0;
    }
    .card_container {
        height: unset;
    }
    .card:nth-child(2) .content div {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .main_card {
        height: unset;
    }
    .container .card {
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }
    .card .imgBx {
        position: relative;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 1px;
    }
    .content div {
        width: 100%
    }
    .card:hover {
        background-color: #fff
    }
    .card .imgBx,
    .card:hover .imgBx {
        width: 100%;
        height: 200px;
        left: 0;
        top: 0
    }
    .card .imgBx img,
    .card:hover .imgBx img {
        max-width: 100px;
    }
    .card .imgBx:before {
        z-index: -99;
    }
    .card:nth-child(1) .imgBx:before {
        font-size: 3.5em;
        bottom: 50px;
    }
    .card:nth-child(2) .imgBx:before {
        font-size: 2.5em;
        bottom: 60px;
    }
    .card:nth-child(3) .imgBx:before {
        font-size: 2.5em;
        bottom: 45px;
        z-index: -99;
    }
    .container .card .content {
        position: relative;
        width: 100%
    }
    .container .card:nth-child(3) .content div {
        position: relative;
        width: 80%
    }
}


/*card3*/

.card3 {
    height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
}

.product_main_container {
    display: flex;
    /*justify-content: space-between;*/
    padding: 0 4vw;
    /*height: 400px;*/
    margin-top: 40px;
    flex-wrap: wrap;
    margin-left: 1%;
}

.product_container {
    width: 33%;
    height: 100%;
    margin-bottom: 40px;
}

.product_pic_container {
    width: 175px;
    height: 235px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.product_pic {
    border-radius: 100%;
    border: 2px dashed #aeaeae;
    width: 175px;
    height: 175px;
    /*background-image: url('network.svg');*/
    /*	display: flex;
	justify-content: center;
	align-items: center;*/
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px dashed #afafaf;
}

.product_main_container .product_container:nth-child(1) .product_pic {
    background-image: url('./../img/network.png')
}

.product_main_container .product_container:nth-child(2) .product_pic {
    background-image: url('./../img/crowdfunding.png')
}

.product_main_container .product_container:nth-child(3) .product_pic {
    background-image: url('./../img/hand.png')
}

.product_main_container .product_container:nth-child(4) .product_pic {
    background-image: url('./../img/reading-mode.png')
}

.product_main_container .product_container:nth-child(5) .product_pic {
    background-image: url('./../img/tracker.png')
}

.product_pic img {
    height: 100%;
    width: 100%;
}

.product_detail {
    padding: 10px 2vw;
    height: 430px;
    border: 1px solid;
    border-radius: 10px;
    margin: 0 1vw;
    border: 5px solid #4f9df1;
}

.product_intro {
    margin: 10px auto;
    height: 80px;
}


/*card4*/

.card4 {
    height: unset;
    padding-bottom: 200px;
    border-bottom: 1px solid;
    position: relative;
}

#research_project {
    top: -110px;
    position: absolute;
}

.timeline_btn_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more_link {
    color: #25BAD0;
    background-color: transparent;
    border: 2px solid #02b0f1;
    border-radius: 3px;
    padding: 12px 20px;
    margin: 0;
    font-size: 12px;
    border-radius: 0;
    text-transform: uppercase;
    text-decoration: none;
    margin: 40px 10px;
    cursor: pointer;
}

.more_link:active {
    color: #053740;
    background-color: #02b0f1;
}

.more_link:hover {
    animation: moreLinkHover 0.5s;
    animation-fill-mode: forwards;
}

@keyframes moreLinkHover {
    100% {
        color: #fff;
        background-color: #02b0f1;
    }
}

.active {
    color: #fff;
    background-color: #02b0f1;
}


/*card5*/

header h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
}

header p {
    text-align: center;
    margin-bottom: 0;
}

.hexa {
    border: 0px;
    float: left;
    text-align: center;
    height: 35px;
    width: 60px;
    font-size: 22px;
    background: #f0f0f0;
    color: #3c3c3c;
    position: relative;
    margin-top: 15px;
}

.hexa:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -15px;
}

.hexa:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #f0f0f0;
    bottom: -15px;
}

.timeline {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
}

.timeline::before {
    position: absolute;
    left: 50%;
    top: -40px;
    content: ' ';
    display: block;
    width: 2px;
    height: 2650px;
    margin-left: -1px;
    background: rgb(213, 213, 213);
    background: -moz-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -o-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -ms-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    z-index: 5;
}

#Urban_Computing .timeline::before {
    height: 1250px;
}

#Institutional_Research .timeline:before {
    height: 1100px
}

#MOST .timeline:before {
    height: 1000px
}

.timeline li {
    padding: 0.5em 0;
}

.timeline .hexa {
    width: 16px;
    height: 10px;
    position: absolute;
    background: #02b0f1;
    z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -30px;
    margin-top: 0;
}

.timeline .hexa:before {
    border-bottom: 4px solid #02b0f1;
    border-left-width: 8px;
    border-right-width: 8px;
    top: -4px;
}

.timeline .hexa:after {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 4px solid #02b0f1;
    bottom: -4px;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;
    text-align: center;
}

.flag-wrapper {
    text-align: center;
    position: relative;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(255, 255, 255);
    font-weight: 600;
    z-index: 15;
    padding: 6px 10px;
    text-align: left;
    border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
    line-height: 1em;
    vertical-align: middle;
    color: #fff;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.time {
    background: #02b0f1;
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(254, 254, 254);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    z-index: 15;
    box-shadow: 4px 4px 9px 1px;
    border-radius: 5px;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    /*margin: 1em 1em 0 0em;*/
    padding: 1em;
    z-index: 15;
}

@media(min-width: 768px) {
    .timeline {
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .timeline li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .timeline .hexa {
        left: -28px;
        right: auto;
        top: 8px;
    }
    .timeline .direction-l .hexa {
        left: auto;
        right: -28px;
    }
    .direction-l {
        position: relative;
        width: 310px;
        float: left;
        text-align: right;
    }
    .direction-l .desc {
        text-align: left;
    }
    .direction-r {
        position: relative;
        width: 310px;
        float: right;
        text-align: left;
    }
    .flag-wrapper {
        display: inline-block;
    }
    .flag {
        font-size: 18px;
    }
    .direction-l .flag:after {
        left: auto;
        right: -16px;
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: rgb(254, 254, 254);
        border-width: 8px;
    }
    .direction-r .flag:after {
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: rgb(254, 254, 254);
        border-width: 8px;
        left: -8px;
    }
    .time-wrapper {
        display: inline;
        vertical-align: middle;
        margin: 0;
    }
    .direction-l .time-wrapper {
        float: left;
    }
    .direction-r .time-wrapper {
        float: right;
    }
    .time {
        padding: 5px 10px;
    }
    .direction-r .desc {
        margin: 1em 0 0 0.75em;
    }
}

@keyframes floatingLogo {
    0% {
        margin-top: 80px;
    }
    100% {
        margin-top: 100px;
    }
}


/*card5*/

.card5 {
    height: unset;
    padding-bottom: 100px;
    border-bottom: 1px solid;
    position: relative;
}

#honors_and_awards {
    top: -110px;
    position: absolute;
}

.award_main_container {
    display: flex;
    /*justify-content: space-between;*/
    margin: 0 7vw;
    /*height: 400px;*/
    margin-top: 40px;
    flex-wrap: wrap;
}

.award_container {
    width: 31%;
    height: 100%;
    margin: 40px 1%;
    position: relative;
}

.award_year {
    width: 100px;
    height: 88px;
    position: absolute;
    /* border: 1px solid; */
    top: -47px;
    left: 40px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./../img/finish.png);
    /* filter: unset; */
    background-size: 80% 80%;
    background-position: 4px 11px;
    background-repeat: no-repeat;
}

.award_year_text {
    top: 25px;
    left: 24px;
    position: absolute;
    font-weight: bold;
}

.award_pic_container {
    width: 175px;
    height: 235px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.award_pic {
    border-radius: 100%;
    border: 4px dashed #afafaf;
    width: 175px;
    height: 175px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#google {
    background-image: url('./../img/google.png');
    background-size: 80%;
}

#IEEE {
    display: flex;
    justify-content: center;
    align-items: center;
}

#IBM {
    background-image: url('./../img/ibm.png');
    background-size: 70%;
}

.award_pic_text {
    pointer-events: none;
    color: #346aaf;
    font-weight: bold;
    font-size: 50px;
    pointer-events: none;
}

.award_detail {
    padding: 10px 2vw;
    height: 500px;
    border: 5px solid #4f9df1;
    border-radius: 10px;
    margin: 0 1vw;
}

.award_intro {
    margin: 10px auto;
    font-size: 14px;
    height: 160px;
    margin-bottom: 0;
}

.award_type1 {
    height: 425px;
}

.award_type1 .award_intro {
    height: 85px;
}

.product_more_container,
.award_more_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    /*background-color: blue*/
}

.product_more_btn,
.award_more_btn {
    height: 40px;
    width: 107px;
    background-color: #02b0f1;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 4px solid #02b0f1;*/
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    /* line-height: 10px; */
    cursor: pointer;
}

.student_awards {
    margin-top: 10px;
}

.student_title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.student_title p::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: gray;
    margin-top: 5px;
}

#st1 {
    background-image: url('./../img/target.png');
}

#st2 {
    background-image: url('./../img/finance.png');
    background-size: 75%;
}

#st3 {
    background-image: url('./../img/innovation.png');
    background-size: 95%;
}

#st4 {
    background-image: url('./../img/light-bulb.png');
    background-size: 75%;
}

#st5 {
    background-image: url('./../img/engineer.png');
    background-size: 85%;
    background-position: 14px 8px;
}


/*card6*/

.card6 {
    height: unset;
    position: relative;
    overflow: hidden;
}

#team {
    position: absolute;
    top: -80px;
}

.team_main_container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.team_reverse {
    flex-direction: row-reverse;
}

.team_left_container {
    height: 35vh;
    width: 40%;
    /*background-color: blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    /*border: 1px solid #fff;*/
}

.team_right_container {
    height: 35vh;
    width: 60%;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px
}

.team_photo {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-position: center;
}

.team_main_container .team_left_container .default {
    background-image: url('./../img/logo.png');
}

.team_main_container .team_left_container #huang {
    background-image: url('./../img/huang.jpg');
}

.team_main_container .team_left_container #angus {
    background-image: url('./../img/angus.jpg');
}

.team_main_container .team_left_container #jenny {
    background-image: url('./../img/jenny.jpg');
}

.team_main_container .team_left_container #james {
    background-image: url('./../img/james.jpg');
}

.team_main_container .team_left_container #sophy {
    background-image: url('./../img/sophy.jpg');
}

.team_main_container .team_left_container #alan {
    background-image: url('./../img/alan.jpg');
}

.team_main_container .team_left_container #lai {
    background-image: url('./../img/lai.jpg');
    background-position: -1px -11px;
}

.team_main_container .team_left_container #jhan {
    background-image: url('./../img/jhan.jpg');
    background-position: 0 0;
}

.team_main_container .team_left_container #chou {
    background-image: url('./../img/chou.jpg');
}

.team_main_container .team_left_container #pu {
    background-image: url('./../img/pu.jpg');
}

.team_main_container .team_left_container #peng {
    background-image: url('./../img/peng.jpg');
}

.team_right_container .team_info_container {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    border-top: 5px solid #4f9df1;
    border-bottom: 5px solid #4f9df1;
    border-right: 5px solid #4f9df1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 2%;
}

.team_reverse .team_right_container .team_info_container {
    border-top: 5px solid #4f9df1;
    border-bottom: 5px solid #4f9df1;
    border-right: unset;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-left: 5px solid #4f9df1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.team_right_container .team_info_container .reverse {
    justify-content: flex-end;
}

.team_info {
    /*color: rgba(255,255,255,0.9);*/
    letter-spacing: 1px;
    font-size: 16px;
    /*font-weight: bold;*/
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.team_info span:nth-child(2) {
    font-weight: normal;
    font-size: 17px;
}


/*footer*/

.footer {
    height: 80px;
    min-height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-top: 1px solid;
}

@media(min-width: 992px) {
    .timeline {
        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .timeline::before {
        height: 2400px;
    }
    #Urban_Computing .timeline::before {
        height: 1180px;
    }
    #Institutional_Research .timeline::before {
        height: 950px
    }
    #MOST .timeline::before {
        height: 860px
    }
    .direction-l {
        position: relative;
        width: 380px;
        float: left;
        text-align: right;
    }
    .direction-l .desc {
        text-align: left;
    }
    .direction-r {
        position: relative;
        width: 380px;
        float: right;
        text-align: left;
    }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
    .more_link {
        padding: 10px;
    }
    .award_main_container {
        margin: 0 2vw;
    }
}

@media screen and (max-width:960px) {
    nav {
        height: 60px;
        min-height: 60px;
    }
    nav .nav_list ul li a {
        font-size: 12px;
        letter-spacing: 1px;
    }
    #research_projrct {}
    #research_project,
    #honors_and_awards {
        top: -90px;
    }
    .team_main_container {
        width: 90%;
    }
    .my_info {
        font-size: 19px;
    }
    .award_intro {
        line-height: 1.2rem;
        font-size: 14px;
    }
    .nav_list {
        display: none
    }
    .burger {
        display: block;
    }
    nav .nav_logo_container {
        margin: 0 5px;
    }
    nav .nav_logo {
        height: 50px;
        width: 50px;
    }
    nav .logo_text p {
        font-size: 14px
    }
    /*rwd*/
    nav .menu_list ul {
        height: 80vh;
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    nav .menu_list ul li {
        height: 70px;
        font-size: 30px;
        list-style: none;
        text-decoration: none
    }
    nav .menu_list ul li a {
        text-decoration: none;
        color: #000;
    }
    .ins_icon {
        width: 60px;
        height: 60px !important;
    }
    .ins_icon i {
        width: 51px;
        height: 57px;
        left: 4px;
        top: 1px;
    }
    .burger div {
        transition: all .5s ease-in-out;
    }
    .hide {
        transform: translateX(-5px);
        background: transparent;
    }
    .transform {
        transform: rotate(45deg) translate(5px, -5px);
    }
    .transform2 {
        transform: rotate(-45deg) translate(5px, 5px);
    }
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        margin: 0 20px;
        /* border: 3px solid #fff; */
    }
    .menu-btn__burger {
        width: 45px;
        height: 4px;
        background: #a5a5a5;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 45px;
        height: 4px;
        background: #a5a5a5;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before {
        transform: translateY(-12px);
    }
    .menu-btn__burger::after {
        transform: translateY(12px);
    }
    /* ANIMATION */
    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
    /*award*/
    .award_more_btn {
        height: 30px;
        width: 85px;
        font-size: 14px;
    }
}

@media screen and (max-width:767px) {
    /*logo*/
    .logo_container {
        height: 375px;
    }
    .logo {
        width: 300px;
        height: 300px;
    }
    .logo_text {
        font-size: 1.25rem;
    }
    /*kernal*/
    .card2 {
        display: block;
        height: unset;
        padding-bottom: 80px;
    }
    .kernel_main_container {
        /*display: block;*/
        flex-wrap: wrap;
        justify-content: center;
    }
    /*	.kernel_main_container .kernel_container:nth-child(3) .kernel_detail{
		background-color: red
	}*/
    .card2_main_container {
        margin: 0
    }
    .kernel_container {
        width: 100%;
        margin-top: 20px;
        max-width: 350px;
    }
    /*product*/
    .product_main_container {
        margin: 40px 5vw;
        height: unset;
        padding: unset;
        flex-wrap: wrap;
    }
    .card3 {
        height: unset;
    }
    .product_container {
        width: 100%;
        margin: 30px auto;
        max-width: 350px;
    }
    .product_intro {
        margin: 10px;
    }
    /*research project*/
    .card4 .card_title_container,
    .card5 .card_title_container {
        font-size: 1.5rem
    }
    .card4 {
        padding-bottom: 150px;
    }
    .timeline_btn_list {
        flex-flow: wrap;
    }
    .timeline::before {
        height: 2450px;
    }
    #MOST .timeline:before {
        height: 820px
    }
    .more_link {
        width: 35%;
        margin: 40px 5%;
    }
    /*timeline*/
    .timeline li {
        padding: 1.5em 0;
    }
    .direction-l .desc,
    .direction-r .desc {
        margin: 1em 3em 0 3em;
        line-height: 1.5rem
    }
    /*award*/
    .award_main_container {
        margin: 0px 10%;
    }
    .award_container {
        width: 100%;
        max-width: 350px;
        margin: 40px auto
    }
    .award_intro {
        line-height: 1.25rem;
        margin: 15px;
    }
    /*	.student_awards .award_container:nth-child(2) .award_detail{
		height: 475px
	}*/
    .award_more_container {
        height: 50px;
    }
    .medal_img {
        top: 3px;
        height: 35px;
        width: 35px;
    }
    .medal1 {
        left: 0;
    }
    .medal2 {
        right: 0;
    }
    .st1_intro {
        font-size: 12px;
        margin-bottom: 0
    }
    /*team*/
    #team {
        position: absolute;
        top: -60px;
    }
    .team_main_container {
        flex-wrap: wrap;
    }
    .team_left_container {
        width: 100% !important;
        height: 45vh;
    }
    .team_right_container {
        width: 100% !important;
    }
    .team_info {
        justify-content: center !important;
        font-size: 14px;
    }
    /*footer*/
    .footer {
        font-size: 1rem;
    }
    .team_main_container {
        width: 90%;
        border: 5px solid #4f9df1;
        border-radius: 10px;
        max-width: 375px;
        margin-bottom: 50px;
    }
    .team_left_container {
        height: 35vh;
    }
    .team_right_container {
        height: 30vh;
        min-height: 210px;
    }
    .team_info {
        text-align: center;
    }
    .team_photo {
        height: 175px;
        width: 175px;
    }
    .team_right_container .team_info_container {
        border: unset;
        /*		border-left: 5px solid #4f9df1;
		border-top-right-radius: unset;
		border-bottom-left-radius: 30px;*/
    }
    .team_reverse .team_right_container .team_info_container {
        border: unset;
        /*		border-left: 5px solid #4f9df1;
		border-top-right-radius: unset;
		border-bottom-left-radius: 30px;*/
    }
}


/*timeline rwd*/


/*@media only screen and (min-width: 768px) and (max-width: 960px) {
	.timeline::before {
		height: 2300px;
	}
	#Urban_Computing .timeline::before {
		height: 1180px;
	}
	#Institutional_Research .timeline::before {
		height: 950px
	}
	#MOST .timeline::before {
		height: 860px
	}
}*/